<!-- <nav class="navbar navbar-expand-lg navBar">
    <div class="containerImg">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <img class="logo" src="/img/perrito.png" alt="Img logo egg">
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse elementosNav" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto elementos">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Nuevo Cliente
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/tutor/registrar}">Cargar Cliente</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Tutores
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/tutor/lista}">Listar Tutores</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Perros
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a class="dropdown-item" th:href="@{/perro/lista}">Listar Perros</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Perfil
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/perfil}" >Editar Perfil</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" href="/logout" >Cerrar Sesión</a></li>
                </ul>
            </li> -->
            <!-- <li class="nav-item dropdown">
                <a class="nav-link" th:if="${session.usuariosession == null}" href="/registrar" id="navbarDropdown" role="button" aria-expanded="false">
                    Registrate
                </a>
            </li> -->
            <!-- <li class="nav-item dropdown">
                <a class="nav-link" th:if="${session.usuariosession == null && !#httpServletRequest.requestURI.endsWith('/registrar')}" href="/registrar" id="navbarDropdown" role="button" aria-expanded="false">
                    Registrate
                </a>
            </li> -->
            <!-- <li class="nav-item dropdown">
                <a class="nav-link" th:if="${session.usuariosession == null}" href="/login" id="navbarDropdown" role="button" aria-expanded="false">
                    Logueate
                </a>
            </li> -->
            <!-- <li class="nav-item dropdown">
                <a class="nav-link" th:if="${session.usuariosession == null && !#httpServletRequest.requestURI.endsWith('/login')}" href="/login" id="navbarDropdown" role="button" aria-expanded="false">
                    Logueate
                </a>
            </li>
        </ul>
    </div>
</nav> -->



<!-- th:if="${(session.usuariosession == null && #request.requestURI.startsWith('/login')) || (session.usuariosession == null && #request.requestURI.equals('/'))}" -->



<nav>
    <div id="logo"></div>

    <label for="drop" class="toggle">Menu</label>
    <input type="checkbox" id="drop" />
        <ul class="menu">
            <li><a th:href="@{/}">Inicio</a></li>
            <li>
                <!-- First Tier Drop Down -->
                <label for="drop-1" class="toggle">WordPress +</label>
                <a href="#">WordPress</a>
                <input type="checkbox" id="drop-1"/>
                <ul>
                    <li><a href="#">Themes and stuff</a></li>
                    <li><a href="#">Plugins</a></li>
                    <li><a href="#">Tutorials</a></li>
                </ul> 

            </li>
            <li>

            <!-- First Tier Drop Down -->
            <label for="drop-2" class="toggle">Web Design +</label>
            <a href="#">Web Design</a>
            <input type="checkbox" id="drop-2"/>
            <ul>
                <li><a href="#">Resources</a></li>
                <li><a href="#">Links</a></li>
                <li>
                   
                <!-- Second Tier Drop Down -->        
                <label for="drop-3" class="toggle">Tutorials +</label>
                <a href="#">Tutorials</a>         
                <input type="checkbox" id="drop-3"/>

                <ul>
                    <li><a href="#">HTML/CSS</a></li>
                    <li><a href="#">jQuery</a></li>
                    <li><a href="#">Other</a></li>
                </ul>
                </li>
            </ul>
            </li>
            <li><a href="#">Graphic Design</a></li>
            <li><a href="#">Inspiration</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>

