<nav>
    <div id="logo"></div>

    <label for="drop" class="toggle">Menu</label>
    <input type="checkbox" id="drop" />
    <ul class="menu">

        <li>
            <!-- First Tier Drop Down -->
            <label for="drop-1" class="toggle">Nuevo Cliente +</label>
            <a th:if="${session.usuariosession != null}" href="#">Nuevo Cliente</a>
            <input type="checkbox" id="drop-1" />
            <ul>
                <li><a th:href="@{/tutor/registrar}">Cargar Cliente</a></li>
            </ul>
        </li>

        <li>
            <label for="drop-2" class="toggle">Tutores +</label>
            <a th:if="${session.usuariosession != null}" href="#">Tutores</a>
            <input type="checkbox" id="drop-2" />
            <ul>
                <li><a th:href="@{/tutor/lista}">Listar Tutores</a></li>
            </ul>
        </li>

        <li>
            <label for="drop-2" class="toggle">Perros +</label>
            <a th:if="${session.usuariosession != null}" href="#">Perros</a>
            <input type="checkbox" id="drop-2" />
            <ul>
                <li><a th:href="@{/perro/lista}">Listar Perros</a></li>
            </ul>
        </li>

        <li>
            <label for="drop-2" class="toggle">Usuarios +</label>
            <a sec:authorize="hasRole('ADMIN')" href="#">Usuarios</a>
            <input type="checkbox" id="drop-2" />
            <ul>
                <li><a th:href="@{/admin/usuarios}">Listar Usuarios</a></li>
            </ul>
        </li>

        <li>
            <label for="drop-2" class="toggle">Perfil +</label>
            <a th:if="${session.usuariosession != null}" href="#">Perfil</a>
            <input type="checkbox" id="drop-2" />
            <ul>
                <li><a th:href="@{/perfil}">Editar Perfil</a></li>
                <li><a href="/logout">Cerrar Sesión</a></li>
            </ul>
        </li>

        <li><a th:if="${session.usuariosession == null && !#httpServletRequest.requestURI.endsWith('/registrar')}"
                href="/registrar">Registrate</a></li>
        <li><a th:if="${session.usuariosession == null && !#httpServletRequest.requestURI.endsWith('/login')}"
                href="/login">Logueate</a></li>
        <li><a th:if="${session.usuariosession != null}" th:href="@{/inicio}">Inicio</a></li>
        <!-- <li style="color: #254441;">..</li> -->
    </ul>
</nav>


<!-- <li class="nav-item dropdown">
                <a class="nav-link" th:if="${session.usuariosession == null}" href="/login" id="navbarDropdown" role="button" aria-expanded="false">
                    Logueate
                </a>
            </li> -->

<!-- th:if="${(session.usuariosession == null && #request.requestURI.startsWith('/login')) || (session.usuariosession == null && #request.requestURI.equals('/'))}" -->