@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);



.footer {
  width: 100%;
  background: #254441;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bottomfixed{
  position: absolute;
  bottom: 0;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

/* CSS Document */

body {
  background: #000;
  font-size: 22px;
  line-height: 34px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  word-wrap: break-word !important;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

h1 {
  font-size: 60px;
  text-align: center;
  color: #fff;
}

h3 {
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #fff;
}

h3 a {
  color: #fff;
}

a {
  color: #fff;
}

h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 60px;
  line-height: 70px;
  font-family: "Open Sans", sans-serif;
}

#container {
  margin: 0 auto;
  max-width: 890px;
}

p {
  text-align: center;
}


