@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */

.formulatio {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  margin: 50px;
}

.titleForm {
  font-size: 28px;
  color: #dd0025;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #dd0025;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: #dd0025;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.message,
.signin {
  color: #000;
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: #dd0025;
}

.signin a:hover {
  text-decoration: underline #dd0025;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.formulatio label {
  position: relative;
}

.formulatio label .inputForm {
  width: 97%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid #000;
  border-radius: 10px;
}

.formulatio label .inputForm + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: #000;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.formulatio label .inputForm:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.formulatio label .inputForm:focus + span,
.formulatio label .inputForm:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.formulatio label .inputForm:valid + span {
  color: #dd0025;
}

.submit {
  border: none;
  outline: none;
  background-color: #dd0025;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.submit:hover {
  background-color: #dd0025;
  color: black;
}

.contenedorForm {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

.contenedorFotoForm {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
  }

.fotoForm {
  background-color: #fff;
  box-shadow: 0 10px 60px rgb(218, 229, 255);
  border: 1px solid rgb(159, 159, 160);
  border-radius: 20px;
  padding: 2rem 0.7rem 0.7rem 0.7rem;
  text-align: center;
  font-size: 1.125rem;
  max-width: 320px;
}

.foto {
  color: #000000;
  font-size: 1.8rem;
  font-weight: 500;
}

.fotoTitulo {
  margin-top: 10px;
  font-size: 0.9375rem;
  color: rgb(105, 105, 105);
}

.drop-container {
  background-color: #fff;
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 2.1875rem;
  border-radius: 10px;
  border: 2px dashed rgb(171, 202, 255);
  color: #444;
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.drop-container:hover {
  background: rgba(0, 140, 255, 0.164);
  border-color: rgba(17, 17, 17, 0.616);
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color 0.2s ease-in-out;
}

#file-input {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 2px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid rgba(8, 8, 8, 0.288);
}

#file-input::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

#file-input::file-selector-button:hover {
  background: #0d45a5;
}

#image-preview {
    max-width: 100%; /* Asegura que la imagen no se desborde de su contenedor */
    max-height: 300px; /* O ajusta la altura máxima según tus necesidades */
    display: block; /* Asegura que la imagen se muestre como un bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
  }
