.layout {
    width: 1366px;
    height: 768px;
  
    display: grid;
    grid:
      "Nav Nav Nav" 1fr
      "Main Main Main" 1fr
      "footer footer footer" 1fr
      / 1fr 1fr 1fr;
    gap: 8px;
  }
  
  .Nav { grid-area: Nav; }
  .Main { grid-area: Main; }
  .footer { grid-area: footer; }