@font-face {
  font-family: 'letraNav';
  src: url('../font/CaviarDreams.ttf') format('woff2');
}

.toggle,
[id^="drop"] {
  display: none;
}

/* Giving a background-color to the nav container. */
nav {
  margin: 0;
  padding: 0 0 0 0;
  background-color: #000;
  font-family: 'letraNav', sans-serif;
}

#logo {
  display: block;
  padding: 0 30px;
  float: left;
  font-size: 18px;
  line-height: 60px;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
  content: "";
  display: table;
  clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

/* Positioning the navigation items inline */
nav ul li {
  margin: 0px;
  display: inline-block;
  background-color: #000;
}

/* Styling the links */
nav a {
  display: block;
  padding: 18px 20px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

/* nav ul li ul li:hover { background: #000000; } */

/* Background color change on Hover */
nav a:hover {
  color: #fbfbfb;
  background-color: #dd0025;
  font-weight: 600;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
  display: none;
  position: absolute;
  /* has to be the same number as the "line-height" of "nav a" */
  top: 50px;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
  position: relative;
  top: -60px;
  /* has to be the same number as the "width" of "nav ul ul li" */
  left: 170px;
}

/* Change ' +' in order to change the Dropdown symbol */
li > a:after {
  content: " +";
}
li > a:only-child:after {
  content: "";
}

/* Media Queries
--------------------------------------------- */

@media all and (max-width: 768px) {
  #logo {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
  }

  nav {
    margin: 0;
    background-color: #000;
  }

  /* Hide the navigation menu by default */
  /* Also hide the  */
  .toggle + a,
  .menu {
    display: none;
    width: 100%;
  }

  a:visited {
    color: white; /* Cambia el color aquí */
  }

  /* Stylinf the toggle lable */
  .toggle {
    display: block;
    background-color: #000;
    padding: 14px 20px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    border: none;
    /* background-color: #000; */
    max-width: 768px;
    text-align: center;
  }

  .toggle:hover {
    background-color: #dd0025;
  }

  /* Display Dropdown when clicked on Parent Lable */
  [id^="drop"]:checked + ul {
    display: block;
  }

  /* Change menu item's width to 100% */
  nav ul li {
    display: block;
    width: 100%;
    text-align: center;
  }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 0px;
    text-align: center;
  }

  nav ul ul ul a {
    padding: 0 80px;
    text-align: center;
  }

  nav a:hover,
  nav ul ul ul a {
    background-color: #dd0025;
    text-decoration: none;
    color: white;
    text-align: center;
  }

  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a {
    padding: 14px 20px;
    color: #fff;
    font-size: 17px;
    text-align: center;
  }

  nav ul li ul li .toggle,
  nav ul ul a {
    background-color: #000;
    text-align: center;
  }

  /* Hide Dropdowns by Default */
  nav ul ul {
    float: none;
    position: static;
    color: #fbfbfb;
    /* has to be the same number as the "line-height" of "nav a" */
  }

  /* Hide menus on hover */
  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }

  /* Fisrt Tier Dropdown */
  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul ul li {
    position: static;
    /* has to be the same number as the "width" of "nav ul ul li" */
  }
}

@media all and (max-width: 330px) {
  nav ul li {
    display: block;
    width: 100%;
  }
}
a {
  color: #fbfbfb; /* Cambia el color aquí */
}
