*{
  margin: 0;
  padding: 0;
  background-color: #000;
}

.contenedorInput {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}


.titulo{
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 30px 0;
  margin: 50px;
}

/* Table Styles */

.table-wrapper{
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
  border-radius: 5px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 20px;
}

.fl-table thead th {
  color: #ffffff;
  background: #254441;
  border: 1px solid white;
  font-size: 20px;
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #254441;
  border: 1px solid white;
  font-size: 20px;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {

  .contenedorInput {
    margin-right: 300px;
    margin-left: 400px;
    content: "Scroll horizontally >"
  }

  .fl-table {
      display: block;
      width: 100%;
  }
}




.botonTabla {
  display: inline-block;
  border-radius: 4px;
  background-color: #2d3365;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 12px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 }
 
 .botonTabla .modificar {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
 }
 
 .botonTabla .modificar:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
 }
 
 .botonTabla:hover .modificar {
  padding-right: 15px;
 }
 
 .botonTabla:hover .modificar:after {
  opacity: 1;
  right: 0;
 }

 .modificar{
  text-decoration: none;
 }




 .botonTablaM {
  display: inline-block;
  border-radius: 4px;
  background-color: #ce6a28;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 12px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 }
 
 .botonTablaM .modificar {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
 }
 
 .botonTablaM .modificar:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
 }
 
 .botonTablaM:hover .modificar {
  padding-right: 15px;
 }
 
 .botonTablaM:hover .modificar:after {
  opacity: 1;
  right: 0;
 }

 .modificar{
  text-decoration: none;
 }