<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymelead.org/extras/spring-security">

<head>
    <title>Listar Tutores</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
         <link rel="stylesheet" href="/css/tabla.css">
</head>

</head>

<body style="background-color: #000;">

    <nav th:replace="/fragments/navbar" :: nav> </nav>

    <h2 class="titulo">Verificacion de DNI</h2>

    <div class="contenedorInput">

        <form action="/tutor/buscarTutor" method="POST">
            <input type="text" id="dniInput" name="dni" required style="width: 150px; height: 40px;
                                background-color: #343945; color: white; border-radius: 10px; text-align: center" placeholder="Ingrese dni">
                                <button type="submit" class="modificar" style="width: 100px; height: 40px; background-color: black; color: white; 
                                    border-radius: 10px"><b>Buscar</b></button>
        </form>
    </div>
</body>

</html>