<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymelead.org/extras/spring-security">

    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/tablaRutina.css">
    </head>

<body>

    <nav th:replace="/fragments/navbar" :: nav> </nav>

    <div class="contenedorInput">
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th class="auto-width-td">Perro</th>
                        <th class="auto-width-td">Fecha</th>
                        <th class="auto-width-td">Comentarios</th>
                        <th class="auto-width-td" sec:authorize="hasRole('ADMIN')">Acciones</th>
                    </tr>
                </thead>
                <tbody th:each="clases : ${clases}">
                    <tr>
                        <td class="auto-width-td" th:text="${perro.nombre}"></td>
                        <td class="auto-width-td" th:text="${clases.fechaClase}"></td>
                        <td class="auto-width-td" th:text="${clases.comentario}"></td>
                        <!-- <td style="background-color: white;">
                            <button sec:authorize="hasRole('ADMIN')" class="botonHover"> 
                                <a style="color: #000;" ><span
                                        class="box">
                                        Modificar
                                    </span></a>
                            </button>
                        </td> -->
                        <td sec:authorize="hasRole('ADMIN')" style="background-color: white;">
                            <button class="botonTablaM">
                                <a style="background-color: #dd0025;" class="modificar" th:href="@{/clases/modificar/__${clases.idClases}__}">Modificar
                                </a>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    
</body>

</html>