<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymelead.org/extras/spring-security">

<head>
    <title>Index</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <nav th:replace="/fragments/navbar" :: nav> </nav>
    <div class="contenedorInput">
        <div>
            <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito">
                <div class="card-body">
                    <h5 class="card-title">Exito</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>
            <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError">
                <div class="card-body">
                    <h5 class="card-title">Error ð</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>
            <h1 id="hache1" class="fancy" style=" font-size: 42; --w: 50vw;--c: #254441;--b:4px;--g: 5px">Adiestramiento Kave Canem
            </h1>
            <div class="contenedorTexto">
                <p class="texto">Croissant tiramisu candy canes danish dragée lemon drops. Tart dessert dragée fruitcake
                    bear claw danish
                    gingerbread. Croissant gingerbread chocolate cake apple pie sweet roll cotton candy. Jelly jelly
                    icing
                    toffee cotton candy. Soufflé tart sweet roll chocolate sesame snaps fruitcake carrot cake. Wafer
                    biscuit
                    cotton candy sweet icing.
                </p>
            </div>
            <h2 id="hache2" class="fancy" style="--w: 50vw;--c: #dd0025;--b:4px;--g: 40px">Clases personalizadas</h2>
            <div class="contenedorTexto">
                <p class="texto">Croissant tiramisu candy canes danish dragée lemon drops. Tart dessert dragée fruitcake
                    bear claw danish
                    gingerbread. Croissant gingerbread chocolate cake apple pie sweet roll cotton candy. Jelly jelly
                    icing
                    toffee cotton candy. Soufflé tart sweet roll chocolate sesame snaps fruitcake carrot cake. Wafer
                    biscuit
                    cotton candy sweet icing.
                    Croissant tiramisu candy canes danish dragée lemon drops. Tart dessert dragée fruitcake
                    bear claw danish
                    gingerbread. Croissant gingerbread chocolate cake apple pie sweet roll cotton candy. Jelly jelly
                    icing
                    toffee cotton candy. Soufflé tart sweet roll chocolate sesame snaps fruitcake carrot cake. Wafer
                    biscuit
                    cotton candy sweet icing.
                </p>
            </div>
            <h2 class="fancy" style="--w: 50vw;--c: #dd0025;--b:4px;--g: 40px">Clases grupales</h2>
            <div class="contenedorTexto">
                <p class="texto">Croissant tiramisu candy canes danish dragée lemon drops. Tart dessert dragée fruitcake
                    bear claw danish
                    gingerbread. Croissant gingerbread chocolate cake apple pie sweet roll cotton candy. Jelly jelly
                    icing
                    toffee cotton candy. Soufflé tart sweet roll chocolate sesame snaps fruitcake carrot cake. Wafer
                    biscuit
                    cotton candy sweet icing.
                    Croissant tiramisu candy canes danish dragée lemon drops. Tart dessert dragée fruitcake
                    bear claw danish
                    gingerbread. Croissant gingerbread chocolate cake apple pie sweet roll cotton candy. Jelly jelly
                    icing
                    toffee cotton candy. Soufflé tart sweet roll chocolate sesame snaps fruitcake carrot cake. Wafer
                    biscuit
                    cotton candy sweet icing.
                </p>
            </div>
        </div>
    </div>

</body>

</html>