<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymelead.org/extras/spring-security">

<head>
    <title>Inicio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <nav th:replace="/fragments/navbar" :: nav> </nav>

    <div class="contenedor">
        <div>
            <div class="centrarEsto">
                <h1 class="fancy" style="font-size: 40px;">Adiestramiento Kave Canem</h1>
            </div>
            <p class="texto" style="color: white; margin: 50px; text-align: center;" >
                Como usuario tendrás la posibilidad de ver tus datos y modificarlos.
                También vas a poder ver las clases de tú mascota.
            </p>

            <h2 class="fancy" style="--w: 50vw;--c: #8A9B0F;--b:4px;--g:-5px;">
                <p style="background-color: #8A9B0F;" th:if="${session.usuariosession != null}"
                    th:text=" 'Bienvenido '+ ${session.usuariosession.nombre} "></p>
            </h2>
            <div class="centrar">
                <a th:if="${session.usuariosession.imagen != null}">
                    <img style="width: 230px; border-radius: 40px; align-items: center;"
                        th:src="@{/imagen/perfil/__${session.usuariosession.id}__}">
                </a>
            </div>
        </div>
    </div>
</body>

</html>