<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymelead.org/extras/spring-security">

<head>
    <title>Inicio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <nav th:replace="/fragments/navbar" :: nav> </nav>

    <div class="contenedor">
        <div>
            <h1 class="fancy">Adiestramiento Kave Canem</h1>
            <p class="texto">Croissant tiramisu candy canes danish dragée lemon drops. Tart dessert dragée fruitcake
                bear
                claw danish
                gingerbread. Croissant gingerbread chocolate cake apple pie sweet roll cotton candy. Jelly jelly icing
                toffee cotton candy. Soufflé tart sweet roll chocolate sesame snaps fruitcake carrot cake. Wafer biscuit
                cotton candy sweet icing.
            </p>
            <h2 class="fancy" style="--w: 50vw;--c: #8A9B0F;--b:4px;--g:-5px">
                <p th:if="${session.usuariosession != null}"
                    th:text=" 'Bienvenido '+ ${session.usuariosession.nombre} "></p>
            </h2>
            <div class="centrar">
                <a th:if="${session.usuariosession.imagen != null}">
                    <img style="width: 230px; border-radius: 40px; align-items: center;"
                        th:src="@{/imagen/perfil/__${session.usuariosession.id}__}">
                </a>
            </div>
            <!-- <h2 class="fancy" style="--w: 50vw;--c: #8A9B0F;--b:4px;--g:-5px">Clases grupales</h2>
    <p>Croissant tiramisu candy canes danish dragée lemon drops. Tart dessert dragée fruitcake bear claw danish
        gingerbread. Croissant gingerbread chocolate cake apple pie sweet roll cotton candy. Jelly jelly icing
        toffee cotton candy. Soufflé tart sweet roll chocolate sesame snaps fruitcake carrot cake. Wafer biscuit
        cotton candy sweet icing.
    </p> -->
        </div>
    </div>

    <footer th:replace="/fragments/footer" :: footer> </footer>

</body>

</html>