<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymelead.org/extras/spring-security">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/error1.css">

</head>

<body style="background-color: black;">

    <nav th:replace="/fragments/navbar" :: nav> </nav>
    <div class="contenedorInput">
        <div class="form-structor">
            <form th:action="@{/registro}" method="POST" enctype="multipart/form-data">
                <div class="signup slide-up">
                    <h2 class="form-title" id="signup"><span>o</span>Registrate</h2>
                    <div class="form-holder">
                        <input type="text" class="input" name="nombre" placeholder="Nombre" />
                        <input type="email" class="input" name="email" placeholder="Email" />
                        <input type="password" class="input" name="password" placeholder="Password" />
                        <input type="password" class="input" name="password2" placeholder="Password" />
                        <input hidden type="file" accept="image/*" name="archivo" id="file-input">
                    </div>
                    <button class="submit-btn">Registrate</button>
                </div>
            </form>
            <form th:action="@{/logincheck}" method="POST">
                <div class="login">
                    <div class="center">
                        <h2 class="form-title" id="login"><span>o</span>Logueate</h2>
                        <div class="form-holder">
                            <input type="email" class="input" name="email" placeholder="Email" />
                            <input type="password" class="input" name="password" placeholder="Password" />
                        </div>
                        <button class="submit-btn">Ingresá</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="successPopup" class="popup">
        <div th:if="${error != null}" class="card1">
            <div class="card_image"> <img src="/img/sadDog.jpg" /> </div>
            <div class="card_title title-white">
                <h5 style="color: red">** ERROR **</h5>
                <h5 th:text="${error}"></h5>
            </div>
        </div>
    </div>
    <div id="errorPopup" class="popup">
        <div th:if="${exito != null}" class="card1">
            <div class="card_image"> <img src="/img/perrofeliz.jpg" /> </div>
            <div class="card_title title-white">
                <h5>** EXITO **</h5>
                <p th:text="${exito}"></p>
            </div>
        </div>
    </div>

    <script>

        function showSuccessPopup() {
            var successPopup = document.getElementById("successPopup");
            successPopup.style.display = "block";

            // Ocultar el popup después de 5 segundos
            setTimeout(function () {
                successPopup.style.display = "none";
            }, 5000);
        }

        // Función para mostrar el popup de error
        function showErrorPopup() {
            var errorPopup = document.getElementById("errorPopup");
            errorPopup.style.display = "block";

            // Ocultar el popup después de 5 segundos
            setTimeout(function () {
                errorPopup.style.display = "none";
            }, 5000);
        }

        // Ejemplo de uso: Mostrar popup de éxito después de un evento exitoso
        showSuccessPopup();

        // Ejemplo de uso: Mostrar popup de error después de un evento fallido
        showErrorPopup();
    </script>

    <script src="/script/login.js"></script>
</body>

</html>