<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymelead.org/extras/spring-security">

<head th:replace="/fragments/head" :: head> </head>

<body>
    <nav th:replace="/fragments/navbar" :: nav> </nav>

    <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito">
        <div class="card-body">
            <h5 class="card-title">Exito</h5>
            <p class="card-text" th:text="${exito}"></p>
        </div>
    </div>
    <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError">
        <div class="card-body">
            <h5 class="card-title">Error ð</h5>
            <p class="card-text" th:text="${error}"></p>
        </div>
    </div>

    <h1 class="fancy">Adiestramiento Kave Canem</h1>
    <p>Croissant tiramisu candy canes danish dragée lemon drops. Tart dessert dragée fruitcake bear claw danish
        gingerbread. Croissant gingerbread chocolate cake apple pie sweet roll cotton candy. Jelly jelly icing
        toffee cotton candy. Soufflé tart sweet roll chocolate sesame snaps fruitcake carrot cake. Wafer biscuit
        cotton candy sweet icing.
    </p>
    <h2 class="fancy" style="--w: 50vw;--c: #C44D58;--b:4px;--g: 40px"><p  th:if="${session.usuariosession != null}"
        th:text=" 'Hola '+ ${session.usuariosession.nombre} "></p></h2>
    <a th:if="${session.usuariosession.imagen != null}" class="d-flex align-items-center">
        <img class="logo" style="width: 230px; border-radius: 40px;" th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" >
        
    </a>

    <footer th:replace="/fragments/footer" :: footer> </footer>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>