<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymelead.org/extras/spring-security">

<head>
    <title>Listar Perros</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tabla.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <nav th:replace="/fragments/navbar" :: nav> </nav>
    <h2 class="titulo">Lista de Perros</h2>


    <div class="contenedorInput">
        <form th:action="@{/perro/lista}">

            <input type="text" id="keyword" name="keyword" class="coolinput" th:value="${keyword}" placeholder="Ingrese nombre del can" style="text-align: center;">
            <div class="divBoton">
                <button type="submit" class="botonSearch" style="width: 100px; height: 40px; color: white; 
          border-radius: 10px"><b>Buscar</b></button>
                <button onclick="limpiar()" class="botonSearch" style="width: 100px; height: 40px; background-color: black; color: white; 
          border-radius: 10px"><b>Limpiar</b></button>
            </div>
            <div class="divBoton">

            </div>
        </form>
    </div>

    <div class="contenedorInput">
        <div class="table-wrapper">
            <table class="fl-table" >
                <thead >
                    <tr style="background-color: white;">
                        <th >Foto</th>
                        <th>Perro</th>
                        <th>Edad</th>
                        <th>Raza</th>
                        <th>Tutor</th>
                        <th>Teléfono</th>
                        <th>Rutina</th>
                        <th sec:authorize="hasRole('ADMIN')">Rutina</th>
                        <th sec:authorize="hasRole('ADMIN')">Clase</th>
                        <th>Clases</th>
                        <th sec:authorize="hasRole('ADMIN')">Modificar</th>
                    </tr>
                </thead>
                <tbody th:each="perro : ${perros}">
                    <tr>
                        <td style="background-color: white;"><img style="width: 70px; border-radius: 20px;" th:if="${perro.imagen != null}"
                            th:src="@{/imagen/perfilperro/__${perro.idPerro}__}"></td>
                            <td th:text="${perro.nombre}" style="background-color: white;"></td>
                            <td th:text="${perro.edad}" style="background-color: white;"></td>
                            <td th:text="${perro.raza}" style="background-color: white;"></td>
                            <td th:text="${perro.tutor.nombre}" style="background-color: white;"></td>
                            <td th:text="${perro.tutor.telefono}" style="background-color: white;"></td>
                        <td style="background-color: white;">
                            <button class="botonHover">
                                <a style="color: #000;" th:href="@{/rutina/lista/__${perro.idPerro}__}"><span class="box">Ver</span></a>
                            </button>
                        </td>
                        <td sec:authorize="hasRole('ADMIN')" style="background-color: white;">
                            <button class="botonHover">
                                <a style="color: #000;" th:href="@{/rutina/modificar/__${perro.idPerro}__}"><span class="box">Modificar</span></a>
                            </button>
                        </td>
                        <td sec:authorize="hasRole('ADMIN')" style="background-color: white;">
                            <button class="botonHover">
                                <a style="color: #000;" th:href="@{/clases/nuevaClase/__${perro.idPerro}__}"><span class="box">Nueva</span></a>
                            </button>
                        </td>
                        <td style="background-color: white;">
                            <button class="botonHover">
                                <a style="color: #000;" th:href="@{/clases/lista/__${perro.idPerro}__}"><span class="box">Listar</span></a>
                            </button>
                        </td>
                        <td sec:authorize="hasRole('ADMIN')" style="background-color: white;">
                            <button class="botonTablaM">
                                <a style="background-color: #dd0025;" class="modificar" th:href="@{/perro/modificar/__${perro.idPerro}__}">Datos
                                </a>
                            </button>
                        </td>
                    </tr>
                <tbody>
            </table>
        </div>
    </div>

</body>
<script>
    function limpiar() {
    document.getElementById("keyword").value = "";
    }
    </script>
</html>