<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymelead.org/extras/spring-security">

<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <nav th:replace="/fragments/navbar" :: nav> </nav>

    <div class="contenedor">

        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>Foto de Perfil</th>
                        <th>Perro</th>
                        <th>Edad</th>
                        <th>Raza</th>
                        <th>Nombre Tutor</th>
                        <th>Telefono Tutor</th>
                        <th>Rutina</th>
                        <th sec:authorize="hasRole('ADMIN')">Acciones</th>
                    </tr>
                </thead>
                <tbody th:each="perro : ${perros}">
                    <tr>
                        <td><img style="width: 70px; border-radius: 20px;" th:if="${perro.imagen != null}"
                                th:src="@{/imagen/perfilperro/__${perro.idPerro}__}"></td>
                        <td th:text="${perro.nombre}"></td>
                        <td th:text="${perro.edad}"></td>
                        <td th:text="${perro.raza}"></td>
                        <td th:text="${perro.tutor.nombre}"></td>
                        <td th:text="${perro.tutor.telefono}"></td>
                        <td>
                            <a class="modificar" th:href="@{/rutina/lista/__${perro.idPerro}__}"><i></i> Ver
                            </a>
                        </td>
                        <td>
                            <a class="modificar" sec:authorize="hasRole('ADMIN')"
                                th:href="@{/perro/modificar/__${perro.idPerro}__}"><i></i>
                                Modificar
                            </a>
                        </td>
                    </tr>

                <tbody>
            </table>
        </div>

        <!-- <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito">
            <div class="card-body">
                <h5 class="card-title">Exito ð</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>
        <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError">
            <div class="card-body">
                <h5 class="card-title">Error ð</h5>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div> -->
    </div>

    <footer th:replace="/fragments/footer" :: footer> </footer>

</body>

</html>