<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymelead.org/extras/spring-security">

<head th:replace="/fragments/head" :: head> </head>

</head>

<body>

  <nav th:replace="/fragments/navbar" :: nav> </nav>

  <div class="container-fluid m-5 contenedor">

    <form class="formulario" action="/perro/registro" method="POST" enctype="multipart/form-data">

      <div class="form-group my-3">
        <select name="idTutor">
          <option th:value=null>Seleccionar el tutor para este perro</option>

          <option th:value="${tutor.idTutor}" th:text="${tutor.nombre}"></option>
        </select>
      </div>

      <div class="form-group my-3">
        <label class="mb-2">Nombre del perro</label>
        <input type="text" class="form-control" name="nombre" placeholder="Nombre del can">
      </div>
      <div class="form-group my-3">
        <label class="mb-2">Edad</label>
        <input type="numer" class="form-control" name="edad" placeholder="Edad del can">
      </div>
      <div class="form-group my-3">
        <label class="mb-2">Raza</label>
        <input type="text" class="form-control" name="raza" placeholder="Raza del can">
      </div>
      <div class="form-group my-3">
        <label class="mb-2">Vive con otros perros?</label>
        <input type="number" class="form-control" name="cantPerros" placeholder="Cantidad de perros">
      </div>
      <div class="form-group my-3">
        <label class="mb-2">Salud? Vacunas? Castrado/a?</label>
        <input type="text" class="form-control" name="salud" placeholder="Salud del can">
      </div>
      <div class="form-group my-3">
        <input type="file" class="form-control" name="archivo">
      </div>

      <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
        <div class="card-body">
          <h5 class="card-title">Error</h5>
          <p class="card-text" th:text="${error}"></p>
        </div>
      </div>

      <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito">
        <div class="card-body">
          <h5 class="card-title">Exito!</h5>
          <p class="card-text" th:text="${exito}"></p>
        </div>
      </div>

      <section class=" text-center container">
        <div class="row mt-3">
          <div class="divVolver">
            <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3 botones">Enviar</button>
      </section>


    </form>
  </div>

  <footer th:replace="/fragments/footer" :: footer> </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>