<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymelead.org/extras/spring-security">

    <head>
        <title>Registrar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/formulario.css">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/inicio.css">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/tabla.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>

<body>

    <nav th:replace="/fragments/navbar" :: nav> </nav>

    <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
        <div class="card-body">
            <h5 class="card-title">Error!</h5>
            <p class="card-text" th:text="${error}"></p>
        </div>
    </div>
    <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito">
        <div class="card-body">
            <h5 class="card-title">Exito!</h5>
            <p class="card-text" th:text="${exito}"></p>
        </div>
    </div>

    <div class="container">
        <form class="form" th:action="@{/registro}" method="POST" enctype="multipart/form-data">
            <span class="title">Registrate!</span>

            <label for="nombre" class="label">Nombre</label>
            <input type="text" id="nombre" name="nombre" required="" class="input" th:value="${nombre}">

            <label for="email" class="label">Email</label>
            <input type="email" id="email" name="email" required="" class="input" th:value="${email}">


            <input type="file" id="password" name="archivo" required="" class="input">

            <label for="password" class="label">Contraseña</label>
            <input type="password" id="password" name="password" required="" class="input" th:value="${password}">

            <label for="password2" class="label">Repetir contraseña</label>
            <input type="password" id="password" name="password2" required="" class="input" th:value="${password2}">

            <button type="submit" class="submit">Registrarme</button>
        </form>
    </div>

    <footer th:replace="/fragments/footer" :: footer> </footer>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>