<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymelead.org/extras/spring-security">

<head>
    <title>Registrar</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/loginForm.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>

    <nav th:replace="/fragments/navbar" :: nav> </nav>

    <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
        <div class="card-body">
            <h5 class="card-title">Error!</h5>
            <p class="card-text" th:text="${error}"></p>
        </div>
    </div>
    <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito">
        <div class="card-body">
            <h5 class="card-title">Exito!</h5>
            <p class="card-text" th:text="${exito}"></p>
        </div>
    </div>

    <div class="contenedorGeneral">
        <div class="containerForm">
            <form class="formLogin" th:action="@{/registro}" method="POST" enctype="multipart/form-data">
                <span class="input-span">
                    <label for="nombre" class="label">Nombre</label>
                    <input type="text" name="nombre" id="nombre" required></span>
                <span class="input-span">
                    <label for="email" class="label">Email</label>
                    <input type="email" name="email" id="email" required></span>
                <span class="input-span">
                    <label for="password" class="label">Password</label>
                    <input type="password" name="password" id="password" required></span>
                <span class="input-span">
                    <label for="password2" class="label">Password</label>
                    <input type="password" name="password2" id="password" required></span>
                <input class="submit" type="submit" value="Registrarme">


                <input hidden type="file" accept="image/*" name="archivo" id="file-input">

            </form>
        </div>
    </div>

</body>

</html>