<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymelead.org/extras/spring-security">

<head>
    <title>Rutina Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/formularios.css">
</head>

<body>

    <nav th:replace="/fragments/navbar" :: nav> </nav>


    <div class="contenedorForm">
        <div class="login-card">
            <div class="card-header">
                <div class="log">Registrar Rutina</div>
            </div>

            <form class="formulatio" action="/rutina/registro" method="POST">

                <input hidden th:value="${perro.idPerro}" name="idPerro">

                <div class="form-group">
                    <label>
                        <input th:value="${perro.nombre}" name="idPerro" type="text" class="inputForm" readonly>
                        <span>Nombre del can</span>
                    </label>
                    <br>
                </div>
                <div class="form-group">
                    <label>
                        <input required="" placeholder="" name="paseo" type="text" class="inputForm">
                        <span>Cuántas veces por día sale a pasear?</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input required="" placeholder="" name="frecPaseo" type="number" class="inputForm">
                        <span>Cuánto tiempo dura el paseo?</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input required="" placeholder="" name="herramientas" type="text" class="inputForm">
                        <span>Qué usa al salir(pretal/collar fijo/ collar ahorque)</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input required="" placeholder="" name="salida" type="text" class="inputForm">
                        <span>Qué hace cuando va a pasear?</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input required="" placeholder="" name="observacionesPaseo" type="text" class="inputForm">
                        <span>Observaciones</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input required="" placeholder="" name="calle" type="text" class="inputForm">
                        <span>Dónde hace sus necesidades?</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input required="" placeholder="" name="comida" type="text" class="inputForm">
                        <span>Disposición de comida</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input required="" placeholder="" name="frecComida" type="text" class="inputForm">
                        <span>Frecuencia de comida</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input required="" placeholder="" name="observacionesComida" type="text" class="inputForm">
                        <span>Observaciones</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input required="" placeholder="" name="juego" type="text" class="inputForm">
                        <span>Suele juegar?</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input required="" placeholder="" name="juegaCon" type="text" class="inputForm">
                        <span>Con quién juega?</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input required="" placeholder="" name="dispoJuguetes" type="text" class="inputForm">
                        <span>Disposición de juguetes</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input required="" placeholder="" name="frecJuego" type="text" class="inputForm">
                        <span>Frecuencia de juego</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input required="" placeholder="" name="observacionesJuego" type="text" class="inputForm">
                        <span>Observaciones</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input required="" placeholder="" name="duerme" type="text" class="inputForm">
                        <span>Dónde duerme</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input required="" placeholder="" name="frecDuerme" type="text" class="inputForm">
                        <span>Cuántas veces por día duerme?</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input required="" placeholder="" name="dondePasaDia" type="text" class="inputForm">
                        <span>Dónde pasa el día?</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input required="" placeholder="" name="educacionPrevia" type="text" class="inputForm">
                        <span>Educación previa</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input required="" placeholder="" name="motivoContratacion" type="text" class="inputForm">
                        <span>Motivo de contratación</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input required="" placeholder="" name="observacionesEducacion" type="text" class="inputForm">
                        <span>Observaciones</span>
                    </label>
                </div>
                <div class="form-group">
                    <input value="Enviar" type="submit">
                  </div>
            </form>
        </div>
    </div>

    <!-- <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
        <div class="card-body">
            <h5 class="card-title">Error</h5>
            <p class="card-text" th:text="${error}"></p>
        </div>
    </div>

    <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito">
        <div class="card-body">
            <h5 class="card-title">Exito!</h5>
            <p class="card-text" th:text="${exito}"></p>
        </div>
    </div> -->


</body>

</html>