<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymelead.org/extras/spring-security">

    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/formulario.css">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/inicio.css">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/tabla.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>

<body>

    <nav th:replace="/fragments/navbar" :: nav> </nav>




    <!-- <th class="auto-width-td">Nombre Perro</th>
        <td class="auto-width-td" th:text="${rutina.perro.nombre}"></td> 
    
    <th class="auto-width-td">Modificar</th>
    <td>
                            <a th:href="@{/rutina/modificar/__${rutina.idRutina}__}"><i class="fas fa-feather-alt"></i>
                                Modificar
                            </a>
                        </td>
-->

    <div class="contenedor">



        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                        <th class="auto-width-td">Cantidad de paseos diarios</th>
                        <th class="auto-width-td" th:text="${rutina.paseo}"></th></th>
                    </tr>
                </thead>
                <tbody th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                    <tr>
                        <td class="auto-width-td">Duración del paseo (en minutos)</td>
                        <td class="auto-width-td" th:text="${rutina.frecPaseo}"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                        <th class="auto-width-td">Herramientas de paseo</th>
                        <th class="auto-width-td" th:text="${rutina.herramientas}"></th></th>
                    </tr>
                </thead>
                <tbody th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                    <tr>
                        <th class="auto-width-td">Qué hace cuando sale</th>
                        <td class="auto-width-td" th:text="${rutina.salida}"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                        <th class="auto-width-td">Paseo</th>
                        <th class="auto-width-td" th:text="${rutina.paseo}"></th></th>
                    </tr>
                </thead>
                <tbody th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                    <tr>
                        <td class="auto-width-td"> Frecuencia</td>
                        <td class="auto-width-td" th:text="${rutina.frecPaseo}"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                        <th class="auto-width-td">Herramientas</th>
                        <th class="auto-width-td" th:text="${rutina.herramientas}"></th></th>
                    </tr>
                </thead>
                <tbody th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                    <tr>
                        <th class="auto-width-td">Salida</th>
                        <td class="auto-width-td" th:text="${rutina.salida}"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                        <th class="auto-width-td">Herramientas</th>
                        <th class="auto-width-td" th:text="${rutina.herramientas}"></th></th>
                    </tr>
                </thead>
                <tbody th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                    <tr>
                        <th class="auto-width-td">Salida</th>
                        <td class="auto-width-td" th:text="${rutina.salida}"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                        <th class="auto-width-td">Herramientas</th>
                        <th class="auto-width-td" th:text="${rutina.herramientas}"></th></th>
                    </tr>
                </thead>
                <tbody th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                    <tr>
                        <th class="auto-width-td">Salida</th>
                        <td class="auto-width-td" th:text="${rutina.salida}"></td>
                    </tr>
                </tbody>

            </table>
        </div>

        <!-- <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th class="auto-width-td">Paseo</th>
                        <th class="auto-width-td">Frecuencia</th>
                        <th class="auto-width-td">Herramientas</th>
                        <th class="auto-width-td">Salida</th>
                        <th class="auto-width-td">Observaciones Paseo</th>
                    </tr>
                </thead>
                <tbody th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                    <tr>
                        <td class="auto-width-td" th:text="${rutina.paseo}"></td>
                        <td class="auto-width-td" th:text="${rutina.frecPaseo}"></td>
                        <td class="auto-width-td" th:text="${rutina.herramientas}"></td>
                        <td class="auto-width-td" th:text="${rutina.salida}"></td>
                        <td class="auto-width-td" th:text="${rutina.observacionesPaseo}"></td>
                    </tr>
                </tbody>
            </table>
        </div>



        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th class="auto-width-td">Calle</th>
                        <th class="auto-width-td">Comida</th>
                        <th class="auto-width-td">Frecuencia comida</th>
                        <th class="auto-width-td">Observaciones Comida</th>
                    </tr>
                </thead>
                <tbody th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                    <tr>
                        <td class="auto-width-td" th:text="${rutina.calle}"></td>
                        <td class="auto-width-td" th:text="${rutina.comida}"></td>
                        <td class="auto-width-td" th:text="${rutina.frecComida}"></td>
                        <td class="auto-width-td" th:text="${rutina.observacionesComida}"></td>
                    </tr>
                </tbody>
            </table>
        </div>



        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th class="auto-width-td">Juego</th>
                        <th class="auto-width-td">Juega con</th>
                        <th class="auto-width-td">Disposición juguetes</th>
                        <th class="auto-width-td">Frecuencia juego</th>
                        <th class="auto-width-td">Observaciones Juego</th>
                    </tr>
                </thead>
                <tbody th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                    <tr>
                        <td class="auto-width-td" th:text="${rutina.juego}"></td>
                        <td class="auto-width-td" th:text="${rutina.juegaCon}"></td>
                        <td class="auto-width-td" th:text="${rutina.dispoJuguetes}"></td>
                        <td class="auto-width-td" th:text="${rutina.frecJuego}"></td>
                        <td class="auto-width-td" th:text="${rutina.observacionesJuego}"></td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th class="auto-width-td">Duerme</th>
                        <th class="auto-width-td">Cuánto duerme</th>
                        <th class="auto-width-td">Dónde pasa el día</th>
                        <th class="auto-width-td">Educación previa</th>
                    </tr>
                </thead>
                <tbody th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                    <tr>
                        <td class="auto-width-td" th:text="${rutina.duerme}"></td>
                        <td class="auto-width-td" th:text="${rutina.frecDuerme}"></td>
                        <td class="auto-width-td" th:text="${rutina.dondePasaDia}"></td>
                        <td class="auto-width-td" th:text="${rutina.educacionPrevia}"></td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th class="auto-width-td">Motivo contratación</th>
                        <th class="auto-width-td">Observaciones General</th>
                    </tr>
                </thead>
                <tbody th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                    <tr>
                        <td class="auto-width-td" th:text="${rutina.motivoContratacion}"></td>
                        <td class="auto-width-td" th:text="${rutina.observacionesEducacion}"></td>
                    </tr>
                </tbody>
            </table>
        </div> -->




        <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito">
            <div class="card-body">
                <h5 class="card-title">Exito ð</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>
        <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError">
            <div class="card-body">
                <h5 class="card-title">Error ð</h5>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div>

    </div>
    
</body>

</html>