<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymelead.org/extras/spring-security">

<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/tablaRutina.css">
</head>

<body>

    <nav th:replace="/fragments/navbar" :: nav> </nav>


    <div class="contenedorInput">
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                        <th class="auto-width-td">Nombre de la mascota</th>
                        <th class="auto-width-td" th:text="${rutina.perro.nombre}"></th>
                        </th>
                    </tr>
                </thead>
                <tbody th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                    <tr>
                        <td class="auto-width-td">Cuántas veces por día sale a pasear?</td>
                        <td class="auto-width-td" th:text="${rutina.paseo}"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                        <th class="auto-width-td">Cuánto tiempo dura el paseo?</th>
                        <th class="auto-width-td" th:text="${rutina.frecPaseo}"></th>
                        </th>
                    </tr>
                </thead>
                <tbody th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                    <tr>
                        <th class="auto-width-td">Qué usa al salir(pretal/collar fijo/ collar ahorque)</th>
                        <td class="auto-width-td" th:text="${rutina.herramientas}"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                        <th class="auto-width-td">Qué hace cuando sabe que va a pasear?</th>
                        <th class="auto-width-td" th:text="${rutina.salida}"></th>
                        </th>
                    </tr>
                </thead>
                <tbody th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                    <tr>
                        <td class="auto-width-td">Observaciones de los paseos</td>
                        <td class="auto-width-td" th:text="${rutina.observacionesPaseo}"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                        <th class="auto-width-td">Dónde hace sus necesidades?</th>
                        <th class="auto-width-td" th:text="${rutina.calle}"></th>
                        </th>
                    </tr>
                </thead>
                <tbody th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                    <tr>
                        <th class="auto-width-td">Cómo es la disposición de comida</th>
                        <td class="auto-width-td" th:text="${rutina.comida}"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                        <th class="auto-width-td">Cómo es la frecuencia de comida</th>
                        <th class="auto-width-td" th:text="${rutina.frecComida}"></th>
                        </th>
                    </tr>
                </thead>
                <tbody th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                    <tr>
                        <th class="auto-width-td">Observaciones de las comidas</th>
                        <td class="auto-width-td" th:text="${rutina.observacionesComida}"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                        <th class="auto-width-td">Suele juegar durante el día?</th>
                        <th class="auto-width-td" th:text="${rutina.juego}"></th>
                        </th>
                    </tr>
                </thead>
                <tbody th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                    <tr>
                        <th class="auto-width-td">Con quién juega (solo, con otros perros, con tutor)?</th>
                        <td class="auto-width-td" th:text="${rutina.juegaCon}"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                        <th class="auto-width-td">Observaciones de los momentos de juego</th>
                        <th class="auto-width-td" th:text="${rutina.observacionesJuego}"></th>
                        </th>
                    </tr>
                </thead>
                <tbody th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                    <tr>
                        <th class="auto-width-td">Dónde duerme (su colchón, cama) (En qué habitación de la casa)?</th>
                        <td class="auto-width-td" th:text="${rutina.duerme}"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                        <th class="auto-width-td">Cuántas veces por día duerme?</th>
                        <th class="auto-width-td" th:text="${rutina.frecDuerme}"></th>
                        </th>
                    </tr>
                </thead>
                <tbody th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                    <tr>
                        <th class="auto-width-td">Dónde suele pasar el día?</th>
                        <td class="auto-width-td" th:text="${rutina.dondePasaDia}"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                        <th class="auto-width-td">Tiene algún tipo de educación previa?</th>
                        <th class="auto-width-td" th:text="${rutina.educacionPrevia}"></th>
                        </th>
                    </tr>
                </thead>
                <tbody th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                    <tr>
                        <th class="auto-width-td">Cuál es el motivo de contratación?</th>
                        <td class="auto-width-td" th:text="${rutina.motivoContratacion}"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr th:action="@{/rutina/lista/__${rutina.perro.idPerro}__}">
                        <th class="auto-width-td">Observaciones sobre la educación previa</th>
                        <th class="auto-width-td" th:text="${rutina.observacionesEducacion}"></th>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

</body>

</html>