<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymelead.org/extras/spring-security">

<head>
  <title>Tutor Form</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/formularios.css">
</head>

<body style="background-color: #000;">

  <nav th:replace="/fragments/navbar" :: nav> </nav>

  <div class="contenedorForm">
    <div class="login-card">
      <div class="card-header">
        <div class="log">Registrar Nuevo Tutor</div>
      </div>
      <form class="formulatio" action="/tutor/registro" method="POST">

        <div class="form-group">
          <label>DNI del tutor:</label>
          <input required="" id="campo" name="dni" readonly type="text">
        </div>

        <div class="form-group">
          <label>Nombre del tutor:</label>
          <input required="" name="nombre" type="text">
        </div>

        <div class="form-group">
          <label>Apellido del tutor:</label>
          <input required="" name="apellido" type="text">
        </div>

        <div class="form-group">
          <label>Teléfono del tutor:</label>
          <input required="" name="telefono" type="number">
        </div>

        <div class="form-group">
          <label>Dirección del tutor:</label>
          <input required="" name="direccion" type="text">
        </div>

        <div class="form-group">
          <input value="Enviar" type="submit">
        </div>
      </form>
    </div>
  </div>

  <script>
    var valor = localStorage.getItem('valor');
    document.getElementById('campo').value = valor;
  </script>
</body>

</html>