<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymelead.org/extras/spring-security">

<head>
    <title>Listar Tutores</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tabla.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>

</head>

<body style="background-color: #000;">

    <nav th:replace="/fragments/navbar" :: nav> </nav>

    <h2 class="titulo">Lista de Tutores</h2>

    <div class="contenedorInput">
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>Id del Tutor</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DNI</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th>Acciones</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody th:each="tutor : ${tutores}">
                    <tr>
                        <td th:text="${tutor.idTutor}" style="background-color: white;"></td>
                        <td th:text="${tutor.nombre}" style="background-color: white;"></td>
                        <td th:text="${tutor.apellido}" style="background-color: white;"></td>
                        <td th:text="${tutor.dni}" style="background-color: white;"></td>
                        <td th:text="${tutor.direccion}" style="background-color: white;"></td>
                        <td th:text="${tutor.telefono}" style="background-color: white;"> </td>
                        <td style="background-color: white;">
                            <button class="botonTablaM">
                                <a style="background-color: #2d3365;" class="modificar" th:href="@{/tutor/modificar/__${tutor.idTutor}__}">
                                    Modificar
                                </a>
                            </button>
                        </td>
                        <td style="background-color: white;">
                            <button class="botonTablaM">
                                <a style="background-color: #2d3365;" class="modificar" th:href="@{/perro/registrar/__${tutor.idTutor}__}">
                                    Añadir Perro
                                </a>
                            </button>
                        </td>
                    </tr>
                <tbody>
            </table>
        </div>
    </div>

</body>

</html>