<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymelead.org/extras/spring-security">

<head th:replace="/fragments/head" :: head> </head>

<body>

    <nav th:replace="/fragments/navbar" :: nav> </nav>

    <div class="container-fluid m-5 contenedor">

        <form class="formulario" th:action="@{/tutor/modificar/__${tutor.idTutor}__}" method="POST">

            <input hidden th:value="${idTutor}" name="idTutor">


            <div class="form-group my-3">
                <label class="mb-2">Nombre del tutor</label>
                <input th:value="${tutor.nombre}" type="text" class="form-control" name="nombre"
                    placeholder="Nombre del tutor">
            </div>
            <div class="form-group">
                <label class="mb-2">Apellido del tutor</label>
                <input th:value="${tutor.apellido}" type="text" class="form-control" name="apellido"
                    placeholder="Apellido del tutor">
            </div>
            <div class="form-group">
                <label class="mb-2">Teléfono del tutor</label>
                <input th:value="${tutor.telefono}" type="number" class="form-control" name="telefono"
                    placeholder="Telefono del tutor">
            </div>
            <div class="form-group">
                <label class="mb-2">Direccion del tutor</label>
                <input th:value="${tutor.direccion}" type="text" class="form-control" name="direccion"
                    placeholder="Direccion del tutor">
            </div>


            <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
                <div class="card-body">
                    <h5 class="card-title">Error</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>

            <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito">
                <div class="card-body">
                    <h5 class="card-title">Exito!</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>

            <section class=" text-center container">
                <div class="row mt-3">
                    <div class="divVolver">
                        <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3 botones">Enviar</button>
            </section>
        </form>
    </div>
    
    <footer th:replace="/fragments/footer" :: footer> </footer>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>