<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymelead.org/extras/spring-security">

<head>
    <title>Listar Usuarios</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tabla.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <nav th:replace="/fragments/navbar" :: nav> </nav>



    <!-- <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito">
            <div class="card-body">
                <h5 class="card-title">Exito ð</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>
        <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError">
            <div class="card-body">
                <h5 class="card-title">Error ð</h5>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div> -->





    <h2 class="titulo">Lista de Usuarios</h2>

    <div class="contenedorInput">
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr style="background-color: white;">
                        <th>Id del Usuario</th>
                        <th>Nombre</th>
                        <th>Foto de Perfil</th>
                        <th>Rol</th>
                        <th>Cambiar Rol</th>
                        <th>Modificar</th>
                    </tr>
                </thead>
                <tbody th:each="usuario : ${usuarios}">
                    <tr>
                        <td scope="row" th:text="${usuario.id}" style="background-color: white;"></td>
                        <td th:text="${usuario.nombre}" style="background-color: white;"></td>
                        <td style="background-color: white;"><a><img style="width: 70px; border-radius: 20px;"
                                    th:if="${usuario.imagen != null}" class="logo"
                                    th:src="@{/imagen/perfil/__${usuario.id}__}"></a>
                        </td>
                        <td th:text="${usuario.rol}" style="background-color: white;"></td>

                        <td style="background-color: white;">
                            <button class="botonTablaM">
                                <a style="background-color: #2d3365;" class="modificar"
                                    th:href="@{/admin/modificarRol/__${usuario.id}__}"><i></i> Cambiar Rol
                                </a>
                            </button>
                        </td>
                        <td style="background-color: white;">
                            <button class="botonTablaM">
                                <a style="background-color: #2d3365;" class="modificar" sec:authorize="hasRole('ADMIN')"
                                    th:href="@{/perfilAdmin/__${usuario.id}__}"><i></i>
                                    Modificar</a>
                            </button>
                        </td>

                    </tr>
                <tbody>
            </table>
        </div>
    </div>

</body>

</html>